<style>
  #outer-div-another {
    height: 80vh;
    width: 100%;
  }

  #outer-div-another h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
  }
  #outer-div-another h3 {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
  }
  #wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-width: 1300px;
    height: 100%;
    margin: auto;
    gap: 20px;
    padding: 20px;
  }

  .cta-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: white;
  }
</style>
<div id="outer-div-another">
  <div id="wrapper">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          <h1 class="cta-heading" style="color : {{ block.settings.text-color }}">
            {{ block.settings['text-content'] }}
          </h1>

        {% when 'sub-heading' %}
          <h3 class="cta-sub-heading" style="color : {{ block.settings.text-color }}">
            {{ block.settings['text-content'] }}
          </h3>

        {% when 'cta-button' %}
          <a
            class="cta-button"
            style="background-color : {{ block.settings.button-background }}"
            href="{{ block.settings.button-url }}"
          >
            {{- block.settings['button-text'] -}}
          </a>
      {% endcase %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "cta section",
  "settings": [],
  "blocks": [
    {
      "type": "heading",
      "name": "heading-text",
      "settings": [
        {
          "id": "text-content",
          "type": "text",
          "label": "text content"
        },
        {
          "id": "text-color",
          "type": "color",
          "label": "Link text",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "sub-heading",
      "name": "sub-heading",
      "settings": [
        {
          "id": "text-content",
          "type": "text",
          "label": "text content"
        },
        {
          "id": "text-color",
          "type": "color",
          "label": "Link text",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "cta-button",
      "name": "cta-button",
      "settings": [
        {
          "id": "button-text",
          "type": "text",
          "label": "button-text"
        },
        {
          "id": "button-background",
          "type": "color",
          "label": "button color",
          "default": "#000000"
        },
        {
          "id": "button-url",
          "type": "url",
          "label": "button link"
        }
      ]
    }
  ],

  "presets": [{ "name": "a cta section" }]
}
{% endschema %}
