<style>

  .faq {
     border-radius: 8px;
     overflow: hidden;
     padding-bottom:1em;
    max-width : 1000px;
    margin : auto;
}
 .faq .faq__toggle {
     display: none;
}
  .faq__row{
    border-bottom : 1px solid black;
  }
 .faq__question {
     display:flex;
     justify-content: space-between;
     padding: 1em;
     cursor: pointer;
   font-family: "Satoshi", sans-serif !important;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 20px;
    color: #9c3246;
  font-weight : 700;
   
  
}
 .faq__question:hover {
     background-color: #eaeaea;
}
 .faq__question::after {
     content: '\21B5';
     transition: all .5s;
     float: right;
}
 .faq__toggle:checked + .faq__question::after {
     transform: rotate(90deg);
}
 .faq__answer {
     max-height: 0;
     overflow: hidden;
     transition: all .4s;
     padding: 0 1em;
}
 .faq__toggle:checked ~ .faq__answer {
     max-height: 100vh;
     padding: 1em;
}
</style>

<div class="faq">
    <h2 class="h1">Frequently Asked Questions</h2>
    {% for block in section.blocks  %} 
    <div class="faq__row">
        <input type="checkbox" id="question-{{ forloop.index }}" class="faq__toggle">
        <label for="question-{{ forloop.index }}" class="faq__question">{{ forloop.index }}&nbsp; &nbsp;  {{ block.settings.question }}</label>
        <div class="faq__answer">{{ block.settings.answer }}</div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "faq section",
    "settings": [],
    "blocks": [
    {
      "type" : "question",
      "name" : "question",
      "settings" : [
        {
        "type" : "text",
          "id" : "question",
          "label" : "question"
        },
         {
        "type" : "text",
          "id" : "answer",
          "label" : "answer"
        }

      ]
    }
  ],

    "presets" : [{"name" : "faq-section"}]
  }
{% endschema %}