<style>
  .outer-slick-slider-section {
    max-width: 1300px;
    margin: auto;
    text-align: center;
  }
  .slick-initialized .slick-slide {
    display: flex !important;
  }

  .inner-slider-slick {
    height: 100vh;
    background-color: blue;
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .spacer {
    height: 20px;
    width: 100%;
  }
  h1 {
    font-size: 30px;
    color: black;
    line-height: 25px;
    font-weight: 400 !important;
    text-decoration: none;
  }
  a {
    text-decoration: none !important;
  }
  p {
    line-height: 12px;
    font-weight: 500;
  }
  img {
    width: 100%;
  }
  .image-anchor {
    width: 80%;
  }
</style>

{% comment %}
  <div class="outer-slick-slider-section">
    <div class="inner-slider-slick">hello</div>
    <div class="inner-slider-slick">hello</div>
  </div>
{% endcomment %}
<div class="outer-slick-slider-section">
  {% for product in collections['all-products'].products %}
    <div class="inner-slider-slick">
      <a class="image-anchor" href="{{ product.url }}">
        <img src="{{ product.featured_media | img_url: '1200px' }}" alt="{{ product.title }}">
      </a>
      <p>{{ product.price }}</p>
      <a href="{{ product.url }}">
        <h1>{{ product.title }}</h1>
      </a>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "slick-slider",
  "settings": [],
  "presets": [{ "name": "slick-slider" }]
}
{% endschema %}
