
{{ 'homepage.css' | asset_url | stylesheet_tag }}
{%  if section.blocks.size > 0 %}
  <div class="tabs-section">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-3.6.0.js"></script>
    <script src="//code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    {%  if section.settings.title != blank %}
      <h2 class="h1">{{ section.settings.title }}</h2>
    {%  endif  %}
    <div id="tabs" class="tabs">
      {%  assign tabContent = '' %}
      <ul class="">
      {%  for block in section.blocks %}
       {%  assign collection = collections[block.settings.collection] %}
        <li><a href="#tabs-{{ collection.id }}">{{ collection.title  }}</a></li>
        {%  capture content  %}
            <div id="tabs-{{ collection.id }}">
              <ul class="tabs-list-box1">
               {%- for product in block.settings.collection.products limit: 8 -%}
               <li class="single-tab-list">
              <a class="image-anchor" href="{{ product.url }}">
        <img class="product-card-image" src="{{ product.featured_media | img_url: '' }}" alt="{{ product.title }}">
      </a>
                <h1>{{ product.title }}</h1>
                 <p>{{ product.description }}</p>
                 <p class="price">Starts at <strong>{{ product.price | money_with_currency }}</strong></p>
                 <form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input style="display:none;" min="1" type="number" id="quantity" name="quantity" value="1"/>
  <input type="submit" value="Add to cart" class="btn-add-to-cart" />
</form>
               </li>
              {%- endfor -%}
              </ul>
            </div>
        {%  endcapture %}
        {%  assign tabContent = tabContent | append: content %}
      {%  endfor %}  
      </ul>   
      {{ tabContent }}
    </div>  
  </div> 
    <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
   $(document).ready(function(){
      $('.tabs-list-box1').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: true,
        dots: true,
        speed: 300,
        infinite: true,
        autoplaySpeed: 5000,
        autoplay: false,
  prevArrow:'<button class="slick-arrow slick-prev"><svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="18.4783" cy="18.4783" r="18.4783" transform="matrix(-1 0 0 1 36.957 0)" fill="#DD8A9C"/><path d="M20.7881 13.579L20.0908 12.9348L14.3207 18.2473L20.0908 23.5599L20.7881 22.919L15.7186 18.2473L20.7881 13.579Z" fill="white"/></svg></button>',
  nextArrow:'<button class="slick-arrow slick-next"><svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="19.4354" cy="18.4783" r="18.4783" fill="#DD8A9C"/><path d="M17.125 13.579L17.8223 12.9348L23.5924 18.2473L17.8223 23.5599L17.125 22.919L22.1945 18.2473L17.125 13.579Z" fill="white"/></svg></button>',
 
        responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: 2,
        }
      },
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
        }
      }
    ]
      });
    });
  </script>
  <style>
    .tabs { background: none!important;border: none!important}
    .tabs.ui-tabs .ui-tabs-nav {
      background: none;
      padding: 0;
      display: flex;
      justify-content: center;
      border: none;
    }
    .tabs-section h2 {
      text-align: center;
    }
    .tabs.ui-tabs .ui-tabs-nav li {
      border: none;
      background: none;
    }
    .tabs.ui-tabs .ui-tabs-nav li  a{
      color: #262424;
      padding: 5px 40px;
      border-radius: 50px;
    }
    .tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
      background: #9C3246;
      color : white;
    } 
  </style>
{%  endif %}  
{% schema %}
  {
    "name": "Tabs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "limit": 5,
    
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ]
  
    }
  ],
    "presets": [
    {
      "name": "Tabs",
      "blocks": []
    }
  ]
  }
{% endschema %}
