
{{ 'homepage.css' | asset_url | stylesheet_tag }}
{%  if section.blocks.size > 0 %}
  <div class="tabs-section">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-3.6.0.js"></script>
    <script src="//code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    {%  if section.settings.title != blank %}
      <h2 class="h1">{{ section.settings.title }}</h2>
    {%  endif  %}
    <div id="tabs" class="tabs">
      {%  assign tabContent = '' %}
      <ul>
      {%  for block in section.blocks %}
       {%  assign collection = collections[block.settings.collection] %}
        <li><a href="#tabs-{{ collection.id }}">{{ collection.title  }}</a></li>
        {%  capture content  %}
            <div id="tabs-{{ collection.id }}">
              <ul class="tabs-list-box">
               {%- for product in block.settings.collection.products limit: 8 -%}
               <li class="single-tab-list">
              <a class="image-anchor" href="{{ product.url }}">
        <img class="product-card-image" src="{{ product.featured_media | img_url: '' }}" alt="{{ product.title }}">
      </a>
                <h1>{{ product.title }}</h1>
                 <p>{{ product.description }}</p>
                 <p class="price">Starts at <strong>{{ product.price | money_with_currency }}</strong></p>
                 <form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input style="display:none;" min="1" type="number" id="quantity" name="quantity" value="1"/>
  <input type="submit" value="Add to cart" class="btn-add-to-cart" />
</form>
               </li>
              {%- endfor -%}
              </ul>
            </div>
        {%  endcapture %}
        {%  assign tabContent = tabContent | append: content %}
      {%  endfor %}  
      </ul>   
      {{ tabContent }}
    </div>  
   <div id="tabs1" class="tabs">
      {%  assign tabContent = '' %}
      <ul >
      {%  for block in section.blocks %}
       {%  assign collection = collections[block.settings.collection] %}
        <li><a href="#tabs-{{ collection.id }}">{{ collection.title  }}</a></li>
        {%  capture content  %}
            <div id="tabs-{{ collection.id }}">
              <div class="slider">
              <ul class="tabs-list-box">
               {%- for product in block.settings.collection.products limit: 8 -%}
               <li class="single-tab-list">
              <a class="image-anchor" href="{{ product.url }}">
        <img class="product-card-image" src="{{ product.featured_media | img_url: '' }}" alt="{{ product.title }}">
      </a>
                <h1>{{ product.title }}</h1>
                 <p>{{ product.description }}</p>
                 <p class="price">Starts at <strong>{{ product.price | money_with_currency }}</strong></p>
                 <form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input style="display:none;" min="1" type="number" id="quantity" name="quantity" value="1"/>
  <input type="submit" value="Add to cart" class="btn-add-to-cart" />
</form>
               </li>
              {%- endfor -%}
              </ul>
                </div>
            </div>
        {%  endcapture %}
        {%  assign tabContent = tabContent | append: content %}
      {%  endfor %}  
      </ul>   
      {{ tabContent }}
    </div>  
  </div> 
    <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
       $( function() {
    $( "#tabs1" ).tabs();
  } );

       $(document).ready(function(){
        $('.slider').slick({
            slidesToShow: 2,
            slidesToScroll: 1,
            dots: true,
            infinite: true,
            speed: 300,
            autoplay: true,
            autoplaySpeed: 2000 // Adjust as needed
        });
    });
  </script>
  <style>
    .tabs { background: none!important;border: none!important}
    .tabs.ui-tabs .ui-tabs-nav {
      background: none;
      padding: 0;
      display: flex;
      justify-content: center;
      border: none;
    }
    .tabs-section h2 {
      text-align: center;
    }
    .tabs.ui-tabs .ui-tabs-nav li {
      border: none;
      background: none;
    }
    .tabs.ui-tabs .ui-tabs-nav li  a{
      color: #262424;
      padding: 5px 40px;
      border-radius: 50px;
    }
    .tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
      background: #9C3246;
      color : white;
    } 
  </style>
{%  endif %}  
{% schema %}
  {
    "name": "Tabs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "limit": 5,
    
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ]
  
    }
  ],
    "presets": [
    {
      "name": "Tabs",
      "blocks": []
    }
  ]
  }
{% endschema %}
